<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: htmlhead"></head>
<body>
    <div th:replace="layout :: navbar"></div>


    <h1 class="text-center text-muted m-5">Welcome!</h1>

    <div class="container card bg-dark p-5" style="width:50%; height:40%;">

        <form class="form-group" method="post">
            <div class="row my-4">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg bg-secondary" id="floatingAddress"
                               name="address" pattern="\b0x[a-f0-9]{40}\b" required autofocus>
                        <label for="floatingAddress", class="text-dark">Address</label>
                    </div>
                </div>
            </div>

            <div class="row my-4 align-items-center text-center">
                <div class="col">
                    <div class="form-floating">
                        <input type="number" class="form-control form-control-lg bg-secondary"
                               id="floatingBlock" name="sinceBlock" value="0" min="0">
                        <label for="floatingBlock" class="text-dark">Starting block (Default = 0)</label>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-outline-warning btn-lg" type="submit" formaction="/address">Search Transactions</button>
                </div>
            </div>
        </form>

    </div>


    <div th:replace="layout :: footer"></div>
</body>
</html>