<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlhead">
    <title th:text="${pagetitle}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/solar/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</head>
<body>

    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:4%">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><b>Ethereum Explorer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                    </ul>
                    <form class="form-group d-flex" action="/address" method="post">
                        <input type="text" class="form-control me-sm-2 px-3 bg-secondary" style="min-width:25rem"
                               name="address" pattern="\b0x[a-f0-9]{40}\b" placeholder="Address" required>
                        <input type="number" class="form-control me-sm-2 px-3 bg-secondary"
                               style="max-width:12rem" name="block" min="0" placeholder="Block (Default = 0)">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>



    <div th:fragment="footer" class="my-4 text-center" style="white-space:pre">
        Made  with  &#9829  by  David  Cruz
    </div>

</body>
</html>