<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: htmlhead}"></head>
<body>
    <div th:replace="~{layout :: navbar}"></div>

    <h2 class="text-center"><strong>Transaction</strong></h2>
    <h3 class="text-center mt-3 mb-5" th:text="${thisHash}"></h3>

    <div class="m-5 pt-4">
        <table class="table table-hover" style="vertical-align:middle">
            <th:block th:each="name : ${txn}">
                <tr>
                    <th class="p-3" th:text="${name.key}" scope="row"></th>
                    <td class="p-3" style="overflow: auto; text-overflow: ''; text-overflow: ellipsis">
                        <th:block th:if="${ not #strings.equalsIgnoreCase(name.key, 'Input')}">
                            <span th:text="${name.value}"></span>
                        </th:block>
                        <div th:if="${#strings.equalsIgnoreCase(name.key, 'Input')}" >
                            <textarea readonly th:text="${name.value}"
                                class="form-control bg-dark btn btn-outline-secondary text-warning"
                                style="text-align: left"></textarea>
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:replace="~{layout :: footer}"></div>
</body>
</html>