<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: htmlhead"></head>
<body>
    <div th:replace="layout :: navbar"></div>

    <h1 class="text-center mb-5">Transaction</h1>
    <h3 class="text-center" th:text="${thisHash}"></h3>

    <!--    <div class="container">-->
    <!--        <div class="row m-5 gx-5">-->
    <!--            <div class="col card bg-dark">-->
    <!--                <p style="height:10%">Balance</p>-->
    <!--            </div>-->
    <!--            <div class="col card bg-dark">-->
    <!--                <p style="height:10%">grtsgtrs</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="m-5">
        <table class="table table-hover" style="vertical-align:middle">
            <th:block th:each="name : ${txn}">
                <tr>
                    <th th:text="${name.key}" scope="row"></th>
                    <td style="overflow: auto; text-overflow: ''; text-overflow: ellipsis">
                        <th:block th:if="${ not #strings.equalsIgnoreCase(name.key, 'Input')}">
                            <span th:text="${name.value}"></span>
                        </th:block>
                        <div th:if="${#strings.equalsIgnoreCase(name.key, 'Input')}" >
                            <textarea readonly th:text="${name.value}"
                                class="form-control bg-dark btn btn-outline-secondary text-warning"
                                style="text-align: left"></textarea>
                        </div>
<!--                        <th:block th:if="${#strings.equalsIgnoreCase(name.key, 'Input')}">-->
<!--                            <div class="form-group">-->
<!--                                <textarea class="form-control" id="exampleTextarea" rows="1" style="height: 163px; line-height: 22.5px;" data-lt-tmp-id="lt-579989" spellcheck="false" data-gramm="false"></textarea>-->
<!--                            </div>-->
<!--                        </th:block>-->
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:replace="layout :: footer"></div>
</body>
</html>